html,body {
  text-rendering: optimizeSpeed;
  font-family: space mono;
  padding: inherit;
  font-size: 30px;
  background: black;
  color: white;
  letter-spacing: .1em;
  word-spacing: 1em;
  white-space: nowrap;
  position: relative;
  max-width: 90%;
  width: 780px;
}

a {
  color: #a078db;
}
a:hover {
  color: #c6aee9;
}